

.paper {
    background-color: black;
    width: 100%;
    height: 80vh;
    margin: auto;
    box-shadow: 5px 10px grey;
    background-image: url("./paper-texture.jpeg");
    border-radius: 6px;
}


.drink-container{
    max-height: 53vh;
    overflow: scroll;
}



