@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400&display=swap');

.img-fluid-small {
    width: 2em;
    height: auto;
}



.rounded {
    border-radius: 10px;
}

nav {
    font-family: 'Bitter', serif;
    font-weight: 400;
}